
.server-list-container {
  width: 100%;
  text-align: center;
}

.list-item-box {
  position: static;
  width: 50%;
  height: 20px;
  border-top: 1px dotted grey;
  padding: 10px 30px;
}

th {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 18px;
}
