
.server-list-container {
  width: 100%;
  text-align: center;
}

.list-item-box {
  width: calc(100% / 7);
  height: 40px;
  border-top: 1.2px dotted #28333d;
  padding: 10px 10px;
}

th {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 18px;
  cursor: pointer;
}

#sname {
  min-width: 200px;
}

#scity {
  min-width: 150px;
  white-space: nowrap;
}

#sdomain {
  min-width: 200px;
}

#sipaddr {
  min-width: 200px;
}

#sload {
  min-width: 50px;
}

#sproto {
  width: calc(100% / 4);
}

.protocol-box {
  max-width: 240px;
  font-size: 15px;
}

@media only screen and (max-width: 1570px) {
  #sproto {
    width: calc(100% / 3);
  }
  #sdate {
    min-width: 105px;
  }
}
