
.server-list-container {
  width: 100%;
  text-align: center;
}

.list-item-box {
  width: 20%;
  height: 20px;
  border-top: 1.2px dotted #28333d;
  padding: 10px 30px;
}

th {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 18px;
}

#sname {
  min-width: 300px;
}

#sdomain {
  min-width: 200px;
}

#sipaddr {
  min-width: 200px;
}

#sload {
  min-width: 100px;
}

#sproto {
  min-width: 500px;
}
