
.navBar {
  position: absolute;
  top: 0;
  height: 100px;
  width: calc(100% - 6px);
  min-width: 1340px;
  background: linear-gradient(
    to top,
    rgba(53, 69, 77, 0),
    rgba(53, 69, 77)
  );
  color: white;
  margin-right: 0px;

  -webkit-animation: slide-bottom 0.5s both;
  -moz-animation: slide-bottom 0.5s both;
  -ms-animation: slide-bottom 0.5s both;
  -o-animation: slide-bottom 0.5s both;
  animation: slide-bottom 0.5s both;
}

.navBar-hidden {
  position: absolute;
  top: 0;
  height: 100px;
  width: calc(100% - 6px);
  -webkit-animation: slide-top 0.5s both;
  -moz-animation: slide-top 0.5s both;
  -ms-animation: slide-top 0.5s both;
  -o-animation: slide-top 0.5s both;
  animation: slide-top 0.5s both;
}

.navBar-item-left {
  float: left;
  font-size: 28px;
}

.navBar-item-right {
  float: right;
  margin-right: 20px;
}

.navBar-item-right > select {
  display: block;
  padding: 4px 0;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 16px;
}

.filters-container {
  padding: 10px;
  padding-right: 0;
  margin-top: 12px;
  border: rgba(255, 0, 0, 0.6) 2px solid;
  border-radius: 32px;
  background: linear-gradient(
    to top,
    rgba(24, 19, 60, 0.9),
    rgba(53, 69, 77)
  );
}

#closeBtnDiv {
  position: absolute;
  z-index: 999;
}

#nb-country {
  margin: 30px 10px 0 30px;
}

#searchBoxName {
  margin: 30px 10px 0 30px;
  font-size: 28px;
}

#searchBox {
  margin: 24px 0 0 64px;
  padding: 6px ;
  width: 500px;
  border-radius: 28px;
  border: none;

  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 36px;
  font-style: italic;
  color: #212121;

  -webkit-box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
  -moz-box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
  box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
}

#searchBox::placeholder {
  font-style: italic;
  color: #b1b1b1;
}

#searchBtn {
  position: absolute;
  top: 24px;
  left: 535px;
  height: 42px;
  padding-top: 12px;
  padding-left: 5px;
  border-radius: 16px;
  cursor: pointer;
}

#checkXOR {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  outline: none;
}

#fillingDiv {
  position: absolute;
  right: -6px;
  width: 6px;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(53, 69, 77, 0),
    rgba(53, 69, 77)
  );
  z-index: -1;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
