
.navBar {
  height: 50px;
  width: 100%;
  background: #42140f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-title {
  font-size: 28px;
  margin-left: 20px;
  margin-top: 8px;
}

.navBar-item-list {
  display: inline;
  margin-right: 100px;
}

.navBar-item {
  display: inline-block;
  width: 120px;
  font-size: 18px;
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffe7a6;
}
