
#fillingDiv {
  position: absolute;
  right: -6px;
  width: 6px;
  height: 100px;
  background: rgba(53, 69, 77, 0.75);
  z-index: -1;
}

.navBar {
  position: absolute;
  top: 0;
  height: 100px;
  width: calc(100% - 6px);
  background: rgba(53, 69, 77, 0.75);
  color: white;
  margin-right: 0px;
}

.navBar-item-left {
  float: left;
  font-size: 28px;
}

.navBar-item-right {
  float: right;
  margin-right: 20px;
}

select {
  margin: 34px 0 0 0;
  padding: 4px 0;
  border-radius: 12px;
  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 16px;
}

#nb-country {
  margin: 30px 10px 0 30px;
}

#nb-refresh {
  outline: none;
  margin: 7.5px 0;
  height: 85px;
  width: 85px;

  background-color: #0d802b;
  border: 2px solid #95af94;
  border-radius: 60px;

  color: #f0f0f0;
  font-size: 18px;
  cursor: pointer;
}

#nb-refresh:active {
  background-color: #0b6522;
  border: 2px solid #5f6d64;
  -webkit-box-shadow: 0 0 8px 2px #2b1400;
  box-shadow: 0 0 8px 2px #2b1400;
}

#nb-refresh:disabled {
  background-color: #884620;
  border: 2px solid #59615c;
}

#searchBoxName {
  margin: 30px 10px 0 30px;
  font-size: 28px;
}

#searchBox {
  margin: 34px 0 0 0;
  padding: 4px 0;
  width: 180px;
  border-radius: 12px;
  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 16px;
}
