/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: calc(50% - 250px);
    top: 10%;
    width: 500px;
    color: black;
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #4c0406;
  border: 1px white solid;
  margin: 15% auto;
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  color: white;
}

.form-control > input {
  display: block;
  border-radius: 16px;
  outline: none;
  text-align: center;
  width: 300px;
  height: 20px;
  margin-left: calc(50% - 150px);
  margin-bottom: 15px;
  padding: 8px 0 5px 0;
  font-size: 15px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#submitBtn {
  width: 100px;
  height: 32px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ebebeb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ebebeb;
	box-shadow:inset 0px 1px 0px 0px #ebebeb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d9c8a9));
	background:-moz-linear-gradient(top, #ffffff 5%, #d9c8a9 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #d9c8a9 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #d9c8a9 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #d9c8a9 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #d9c8a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9c8a9',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:14px;
	border:1px solid #dcdcdc;
	display:inline-block;
  outline: none;
	cursor:pointer;
	color:#6d4d4e;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#submitBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9c8a9), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #d9c8a9 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #d9c8a9 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #d9c8a9 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #d9c8a9 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #d9c8a9 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9c8a9', endColorstr='#ffffff',GradientType=0);
	background-color:#d9c8a9;
}
#submitBtn:active {
	position:relative;
	top:1px;
}
