
.rotate {
  transform: rotate(180deg);
}

.closeBtn {
  fill: #888;
  cursor: pointer;
}
.closeBtn:hover {
  fill: #a10a0f;
}

.settingsBtn {
  stroke: #FFF;
  fill: #FFF;
  cursor: pointer;
}
.settingsBtn:hover {
  fill: #a10a0f;
  stroke: #a10a0f;
}

.filterBackBtn {
  stroke: #FFF;
  fill: #FFF;
  cursor: pointer;
}
.filterBackBtn:hover {
  fill: #a10a0f;
  stroke: #a10a0f;
}

.clockBtn {
  stroke: #FFF;
  fill: #FFF;
  cursor: pointer;
}
.clockBtn:hover {
  fill: #a10a0f;
  stroke: #a10a0f;
}

.logoutBtn {
  margin-top: 24px;
  margin-right: -5px;
  cursor: pointer;
  fill: none;
  stroke: white;
}

.refreshBtn {
  margin-top: 23px;
  cursor: pointer;
  fill: none;
  stroke: white;
}

.filterBtn {
  margin-right: -12px;
  cursor: pointer;
  fill: none;
  stroke: white;
}

.searchBtn {
  fill: grey;
  stroke: grey;
  cursor: pointer;
}

.logoutBtn:hover, .refreshBtn:hover, .filterBtn:hover {
  fill: #a10a0f;
}
