
.navBar {
  position: absolute;
  top: 0;
  height: 100px;
  width: calc(100% - 18px);
  min-width: 1240px;
  background: linear-gradient(
    to top,
    rgba(53, 69, 77, 0),
    rgba(24, 19, 60, .95),
    rgba(53, 69, 77)
  );
  color: white;


  -webkit-animation: slide-bottom 0.5s both;
  -moz-animation: slide-bottom 0.5s both;
  -ms-animation: slide-bottom 0.5s both;
  -o-animation: slide-bottom 0.5s both;
  animation: slide-bottom 0.5s both;
}

.navBar-hidden {
  position: absolute;
  top: 0;
  height: 100px;
  width: calc(100% - 18px);
  -webkit-animation: slide-top 0.5s both;
  -moz-animation: slide-top 0.5s both;
  -ms-animation: slide-top 0.5s both;
  -o-animation: slide-top 0.5s both;
  animation: slide-top 0.5s both;
}

.navBar-item-left {
  float: left;
  font-size: 28px;
}

.navBar-item-right {
  float: right;
  margin-right: 20px;
}

.navBar-item-right > select {
  display: block;
  padding: 4px 0;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 16px;
}

.filters-container {
  padding: 6px;
  padding-right: 0;
  height: 52px;
  margin-top: 16px;
  border: rgba(255, 0, 0, 0.6) 2px solid;
  border-radius: 32px;
  background: linear-gradient(
    to top,
    rgba(24, 19, 60, 0.9),
    rgba(53, 69, 77)
  );
}

.navBar-settings-left, .navBar-settings-right {
  height: 46px;
  padding: 8px;
  padding-left: 32px;
  border: rgba(255, 0, 0, 0.6) 2px solid;
  border-radius: 32px;
  background: linear-gradient(
    to top,
    rgba(24, 19, 60, 0.9),
    rgba(53, 69, 77)
  );
  text-align: left;
}
.navBar-settings-left {
  float:left;
  width: 350px;
  margin: 16px 20px 0 50px;
}
.navBar-settings-right {
  float: right;
  width: 470px;
  margin: 16px 50px 0 0;
  padding-right: 20px;
}

#displaySetting {
  float: left;
  font-size: 26px;
  margin-top: 8px;
}
.navBar-settings-display-options {
  float: left;
  margin-left: 20px;
  margin-top: 2px;
  line-height: 1.5;
}
#timepiece {
  margin: 23px 0 0 12px;
  width: 250px;
  cursor: pointer;
  -webkit-appearance: none;
}
#timepiece-value {
  float: right;
  width: 68px;
  margin: 15px 0px 0 0;
  font-size: 18px;
}

#closeBtnDiv {
  position: absolute;
  z-index: 1;
  margin-top: 32px;
  margin-left: 17px;
}

#settingsBtnDiv {
  margin-top: 24px;
  margin-left: 68px;
  height: 36px;
}

#clockBtnDiv {
  margin-top: 24px;
  margin-left: 12px;
  height: 36px;
}

#nb-country {
  margin: 30px 10px 0 30px;
}

#searchBoxName {
  margin: 30px 10px 0 30px;
  font-size: 28px;
}

#searchBox {
  margin: 22px 0 0 16px;
  padding: 8px 6px;
  width: 500px;
  border-radius: 28px;
  border: none;

  outline: none;
  text-align: center;
  text-align-last:center;
  justify-content: center;
  font-size: 36px;
  font-style: italic;
  color: #212121;

  -webkit-box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
  -moz-box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
  box-shadow: -2px 0px 14px 1px rgba(15,6,6,0.75);
}

#searchBox::placeholder {
  font-style: italic;
  color: #b1b1b1;
}

#searchBtn {
  position: absolute;
  top: 23px;
  left: 668px;
  height: 42px;
  padding-top: 12px;
  padding-left: 5px;
  border-radius: 16px;
  cursor: pointer;
}

#checkXOR {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  outline: none;
}

#fillingDiv {
  position: fixed;
  z-index: -3;
  right: 0;
  width: 18px;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(53, 69, 77, 0),
    rgba(24, 19, 60, .95),
    rgba(53, 69, 77)
  );

  -webkit-animation: slide-bottom 0.5s both;
  -moz-animation: slide-bottom 0.5s both;
  -ms-animation: slide-bottom 0.5s both;
  -o-animation: slide-bottom 0.5s both;
  animation: slide-bottom 0.5s both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 0;
            display: block;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 0;
            display: block;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 0;
            display: none;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 0;
            display: none;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a10a0f;
  border-radius: 2px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a10a0f;
  border-radius: 2px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track, input[type=range]:hover::-webkit-slider-runnable-track {
  background: #c80000;
}

@media only screen and (max-width: 1400px) {
  #searchBox {
    width: 400px;
  }
  #searchBtn {
    left: 570px;
  }
}

@media only screen and (max-width: 1525px) {
  .navBar-settings-right {
    width: 345px;
  }
  #timepiece {
    width: 130px;
  }
}
